header{
    width: 100%;
    padding: 28px 8%; /* 8% para ficar responsivo*/
    position: sticky;
    top: 0;
    background-color:rgb(11, 10, 10);
    z-index: 3;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo{
    font-size: 24px;
    color:var(--logo);
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px; /*para o espaçamento entre os links*/
}



.nav-item a{
    text-decoration:none;
    color: var(--item-color);
    font-weight: 400;
}


.nav-item.active a{
    color:var(--active);
    border-bottom: 3px solid #ffe100;
    
}


#mobile_btn{
    display: none;
    color: var(--item-color)
    
}

#mobile_menu{
    display: none;
    
   
}

@media screen and (max-width: 1170px){
    #nav_list,
    #navbar .btn-default{
        display: none;
    }
    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active{
        display:flex;
        flex-direction: column;
        align-items: center; 
    }
    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item{
        list-style: none;
        text-align: center;
    }
}